button:hover { cursor: url('https://cdn.jsdelivr.net/gh/Gpar2023/blue_cursor@main/pointer.svg'), pointer; }
html { cursor:url('https://cdn.jsdelivr.net/gh/Gpar2023/blue_cursor@main/cursor.svg'),cursor; }
